
.logout-mobile {
    display: block;
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    padding: 20px;
}

.logout-mobile-container {
    display: none;
    padding: 0;
}
@media (max-width: 768px) {
    .resumen-container {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .resumen-container::-webkit-scrollbar {
        display: none;
    }

    .logout-mobile-container {
        display: flex;
    }
    
}
