@media (max-width: 768px) {
    .resumen-container {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .resumen-container::-webkit-scrollbar {
        display: none;
    }

}