.home {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: calc(100% - 200px);
}

@media (max-width: 768px) {
    main {
        width: 100%;
    }
}

section {
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.background-container-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;

    background-color: var(--background-color);
}

.background-container-home .back-svg2 {
    opacity: 0;
    width: 1920px;
    height: 1080px;
    z-index: -1;
    background-color: var(--primary-color);
    animation: opacity 1s;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.main-container {
    width: 100%;
    height: 100vh;
    padding: 50px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}

.slide-in {
    animation: slide-in 0.5s;
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.slide-out {
    transform: translateY(100%);
    animation: slide-out 0.5s;
}

@keyframes slide-out {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}